@import "~styles/app";
.u-grid.ucf-example-grid {
    background: #fff;

    table {
        table-layout: fixed;
    }

    //修改table的header背景色颜色和body中隔行差色
    .u-table {

        .u-table-header {
            background: #EEEEEE;
        }

        tr {
            transition: none;
            &:nth-child(2n) {
                background: #FAFAFA;
            }
            &:nth-child(2n + 1) {
                background: #ffffff;
            }
            &:hover, &.u-table-row-hover {
                background: #E7F2FC;

            }
            &.u-table-row {
                &.selected, &.ref-multiple-table-row-selected {
                    background: #E7F2FC;
                }
            }

        }


    }

    th.column-number-right,
    td.column-number-right {
        text-align: right !important;
    }
}
